body {
    font-family:Montserrat;
    margin: 0;
    padding: 0;
    color: #1A273E;
    text-align: center;
}

.topborder {
    background-color: #D5E3EE;
    color: #1A273E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.h1 {
    font-family: "Lobster", sans-serif;
    margin: 0;
}

.normalheaders{
    font-family: Montserrat;
    color: #1F273A;
}

.background{
    background-color: #D5E3EE;
    width: 800px;
    height: 500px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
}

.darkblue-btn {
    background-color: #1A273E; 
    border-color:#1A273E;
    color: #FFF; 
    font-family: Montserrat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.mini-btn {
    background-color: #1A273E; 
    border-color:#1A273E;
    color: #FFF; 
    font-family: Montserrat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
}

.mediumblue-btn {
    background-color: #576484;
    border-color: #576484; 
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-style: italic;
}

.btn:hover {
    background-color: #FFF; 
    border-color:#1F273A;
    color: #1F273A;
    font-weight: bold;
}

.styleleft{
    text-align: left;
}

.stylecenter{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.buttonheader {
    display: flex;
    margin-left: 90%;
}

.email {
    text-align: right;
    font-weight: 100;
    font-size: 20px;
}