<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link data-th-href="@{/stylescontentpages.css}" rel="stylesheet">
    <title>Document</title>
</head>

<body>

    <div class="topborder">
        <div class="h1">
            <h1>InkIt. <img src="/quill.png" height="50">
            </h1>
        </div>
        <div>
            <i><span class="email" data-th-text="${email}"></span></i>
            <br>
            <a data-th-href="@{/Home/Logout}" class="btn mini-btn" style="width:75px; height:20px; margin-left: auto;">Log out</a>
            
        </div>
    </div>

    <div class="container">
        <br><br>
        <a data-th-href="@{/Home/MyReadingList}" class="btn yellow-btn" style="width:215px; margin-left: auto;">My Reading List</a>
        
        <div data-th-if="${#lists.isEmpty(bookList)}">

            <form method="GET" data-th-action="@{/Home/Search}" class="row g-3 align-items-center">
                <div class="normalheaders">
                    <h2><strong><label for="title" class="form-label"><img src="/magnifyingglass.png" height="40"> Search for books:</label></strong></h2>
                </div>
                <div class="col-auto">
                <input placeholder="Search by Book Title, Author or ISBN" type="text" name="input" id="input" class="form-control" size="120"/>
                
                </div>
                <div class="col-auto">
                <button type="submit" class="btn darkblue-btn" style="width: 215px;">Search</button>
                </div>
            </form>
            <br>
            <hr>
            <br>
            
            <h2><strong><img src="/openbook.png" height="40"> Empty Book List</strong></h2>
            <p>Please search for a book</p>
		</div>

        <div data-th-unless="${#lists.isEmpty(bookList)}">
            
            <form method="GET" data-th-action="@{/Home/Search}" class="row g-3 align-items-center">
                <div class="normalheaders">
                    <h2><strong><label for="title" class="form-label"><img src="/magnifyingglass.png" height="40"> Search for books:</label></strong></h2>
                </div>
                <div class="col-auto">
                <input placeholder="Search by Book Title, Author or ISBN" type="text" name="input" id="input" class="form-control" size="120"/>
                
                </div>
                <div class="col-auto">
                <button type="submit" class="btn darkblue-btn" style="width: 215px;">Search</button>
                </div>
            </form>
            <br><br>
            <hr>
            <br>
            <div class="normalheaders">
                <h2><strong><img src="/openbook.png" height="40"> Book List:</strong></h2>
                <br>
            </div>
            <div class="panel-view">
                <div class="panel-item" data-th-each="book: ${bookList}">
                    <a onclick="snackbar()" data-th-href="@{/Home/Save/Search/{isbn}(isbn=${book.isbn})}" class="btn mediumblue-btn" >Add to Reading List</a>
                
                    <br>
                    <div class="title">
                        <h5 data-th-text="*{book.title}"></h5>
                    </div>
                    <div>
                        <a data-th-href="*{book.infoLink}" target="_blank"><img data-th-src="*{book.thumbnail}" width="125px"></a>
                    </div>

                    <br>
                    <p>
                        <strong>Author(s):</strong> <span data-th-text="*{book.authors}"></span>
                    </p>

                    <p class="description">
                        <strong>Description:</strong> <span data-th-text="*{book.description}"></span>
                    </p>

                    <p>
                        <strong>Category:</strong> <span data-th-text="*{book.category}"></span>
                    </p>

                    <p>
                        <strong>Language:</strong> <span data-th-text="*{book.language}"></span>
                    </p>

                    <p>
                        <strong>ISBN:</strong> <span data-th-text="*{book.isbn}"></span>
                    </p>
                </div>  
            </div>
        </div>
    </div>

    <div id="snackbar">Book Successfully Added...</div>

    <script>
        function snackbar() {
          var x = document.getElementById("snackbar");
          x.className = "show";
          setTimeout(function(){ 
            window.location.href = '/Home/Save/Search/{isbn}(isbn=${book.isbn})';
            x.className = x.className.replace("show", ""); }, 3000);
        }
    </script>

</body>
</html>