body {
    font-family:'Lora', serif;
    margin: 0;
    padding: 0;
    
}

.topborder {
    background-color: #D5E3EE;
    color: #1A273E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    
}
.darkblue-btn {
    background-color: #1A273E; 
    border-color:#1A273E;
    color: #FFF; 
    font-family: DM Serif Display, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.mediumblue-btn {
    background-color: #576484;
    border-color: #576484; 
    color: #FFF;
    font-family: DM Serif Display, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.yellow-btn {
    background-color: #F1A81A;
    border-color: #F1A81A; 
    color: #FFF;
    font-family: DM Serif Display, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.btn:hover {
    /* background-color: #6E737E; 
    border-color:#6E737E;
    color: #FFF;   */
    background-color: #1A273E; 
    border-color:#1A273E;
    color: #FFF;
}

.h1 {
    font-family: "Lobster", sans-serif;
    margin: 0;
}
.normalheaders{
    font-family: DM Serif Display, serif;
    color: #1F273A;
}

.email {
    text-align: right;
    font-weight: 100;
    font-size: 20px;
}



/* .table {
table-layout: fixed;
width: 100%;
    
} */
/* .largercol {
width: 40%; 
}

.smallercol {
width: 20%;
} */

.tablecentered{
    text-align: center;
    /* padding: 10px 75px; */
}
/* Apply a grid layout */
.panel-view {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
gap: 20px;
}

/* Style each panel item */
.panel-item {
border: 1px solid #EDF5FB;
padding: 15px;
text-align: center;
background-color: #EDF5FB;
}

.panel-item h5 {
height: 75px; /* Set a fixed height */
font-family: DM Serif Display, serif;
}

.panel-item img {
height: 235px; /* Set a fixed height for the images */
width: 165px;
object-fit: contain; /* Maintain aspect ratio and cover the container */
background-color: #FFF;

border: 10px solid #FFF; /* Add a border with the desired color */
border-radius: 5px;
}

/* .description{
    text-align: justify;
    overflow:auto;
    text-overflow: ellipsis; 
    height: 150px; 
} */

.description {
    text-align: justify;
    overflow: auto;
    text-overflow: ellipsis;
    height: 150px;
    scrollbar-width: thin; /* For Firefox */
    padding:10px
}

/* For WebKit browsers (Chrome, Safari) */
.description::-webkit-scrollbar {
    width: 10px;
}

.description::-webkit-scrollbar-thumb {
    background-color: #1A273E; /* Color of the thumb */
    border-radius: 5px; /* Rounded corners of the thumb */
}

.description::-webkit-scrollbar-track {
    background-color: #D5E3EE; /* Color of the track */
}
