<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link data-th-href="@{/stylessurprisebook.css}" rel="stylesheet">
    <title>Document</title>

</head>
<body>
    <div class="topborder">
        <div class="h1">
            <h1>InkIt. <img src="/quill.png" height="50">
            </h1>
        </div>
        <div class="email">
            <i><span data-th-text="${email}"></span></i>
            <br>
            <a data-th-href="@{/Home/Logout}" class="btn mini-btn" style="width:75px; height:20px; margin-left: auto;">Log out</a>
            
        </div>
    </div>
    <br>
    <div class="background">
        <br>
        <div class="buttonheader">
            <a data-th-href="@{/Home/Save/SurpriseBook/{isbn}(isbn=${surpriseBook.isbn})}" class="btn mediumblue-btn alignment" onclick="snackbar()">Add to Reading List</a>
    
            <a data-th-href="@{/Home/SurpriseBook}"><img src="/refresh.png" height="25"></a>
        </div>
       
        
        <div class="title">
            <h5><strong><span data-th-text="*{surpriseBook.title}"></span></strong></h5>
        </div>
        <div class="imgbackground">
            <a data-th-href="*{surpriseBook.infoLink}" target="_blank"><img data-th-src="*{surpriseBook.thumbnail}" width="125px"></a>
        </div>
        <br>
        <p>
            <strong>Author(s):</strong> <span data-th-text="*{surpriseBook.authors}"></span>
        </p>

        <p class="description">
            <strong>Description:</strong> <span data-th-text="*{surpriseBook.description}"></span>
        </p>

        <p>
            <strong>Category:</strong> <span data-th-text="*{surpriseBook.category}"></span>
        </p>

        <p>
            <strong>Language:</strong> <span data-th-text="*{surpriseBook.language}"></span>
        </p>

        <p>
            <strong>ISBN:</strong> <span data-th-text="*{surpriseBook.isbn}"></span>
        </p>
    </div>
    <div>
        <a data-th-href="@{/Home/MyReadingList}" class="btn darkblue-btn" style="width:200px; height:35px; margin-left: 85%;">Back to Reading List</a>
    </div>

    <div id="snackbar">Book Successfully Added...</div>

    <script>
        function snackbar() {
          var x = document.getElementById("snackbar");
          x.className = "show";
          setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
        }
    </script>
</body>
</html>